/build/
/public
src/react-app-env.d.ts
src/serviceWorker.ts
src/setupTests.ts
src/generated
src/static/defaultMajorChecks.json
src/static/defaultCoreChecks.json
src/static/allCourses.json
src/static/coursesRaw.json
src/components/WIP/CourseRecommendation.tsx
